<!DOCTYPE html>
<html>
    <head>
        <title>Link Generator</title>
    </head>
    <body>
        <form action="" method="post">
            <input type="text" name="original_link" value="Original Link">
            <input type="text" name="short_link" value="Short Link">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>